<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/head'); %>
        <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <link href="/vendors/noty/lib/noty.css" rel="stylesheet">
        <title>设置个人信息</title>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include('../common/menu'); %>
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>设置</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="form-settings" data-parsley-validate class="form-horizontal form-label-left">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">
                                                    电话号码
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="phone" disabled value="<%= phone %>" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nickname">
                                                    昵称 <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="nickname" name="nickname" required="required" data-parsley-maxlength="20" value="<%= nickname %>"
                                                        class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="divider-dashed"></div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                    修改密码
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="check-change-password" name="change_password" type="checkbox" class="flat">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group password-area hidden">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="origin-password">原密码
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="password" id="origin-password" name="origin_password" class="form-control col-md-7 col-xs-12 input-password">
                                                </div>
                                            </div>
                                            <div class="form-group password-area hidden">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">密码
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="password" id="password" name="password" data-parsley-maxlength="50" class="form-control col-md-7 col-xs-12 input-password">
                                                </div>
                                            </div>
                                            <div class="form-group password-area hidden">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="repassword">重复密码
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="password" id="repassword" name="repassword" data-parsley-maxlength="50" class="form-control col-md-7 col-xs-12 input-password">
                                                </div>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                    <button id="btn-settings" type="submit" class="btn btn-success">保存</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

                <%- include('../common/footer') %>
        </div>
    </div>

    <script src=" /vendors/jquery/dist/jquery.min.js "></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js "></script>
    <script src="/vendors/fastclick/lib/fastclick.js "></script>
    <script src="/vendors/nprogress/nprogress.js "></script>
    <script src="/vendors/iCheck/icheck.min.js"></script>
    <script src="/vendors/parsleyjs/dist/parsley.min.js"></script>
    <script src="/vendors/parsleyjs/dist/i18n/zh_cn.js"></script>
    <script src="/vendors/noty/lib/noty.js"></script>
    <script src="/js/custom.min.js "></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("input.flat")[0]) {
                $(document).ready(function () {
                    $('input.flat').iCheck({
                        checkboxClass: 'icheckbox_flat-green',
                        radioClass: 'iradio_flat-green'
                    });
                });
            }
            $('#check-change-password').on('ifChecked', function () {
                $('.password-area').removeClass('hidden');
                $('.input-password').attr('required', 'required');
            });
            $('#check-change-password').on('ifUnchecked', function () {
                $('.password-area').addClass('hidden');
                $('.input-password').removeAttr('required');
            });
            $('#btn-settings').click(function (e) {
                e.preventDefault();
                $('#form-settings').parsley().validate();
                if ($('#form-settings').parsley().isValid()) {
                    $.ajax({
                        url: '/settings',
                        method: 'POST',
                        dataType: 'JSON',
                        data: $('#form-settings').serialize(),
                        error: ERROR_HANDLER,
                        success: function (data) {
                            new Noty({
                                type: 'success',
                                text: '更新成功',
                                layout: 'topCenter',
                                timeout: 3000
                            }).show();
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>